.category {
    margin-top: var(--gutter-15);
}

.categoryItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: var(--gutter-15);
    padding-bottom: var(--gutter-15);
    transition: all 0.3s ease-in-out;
}

.categoryItem h4 {
    font-size: var(--fs-12);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--clr-black-7);
    transition: all 0.3s ease-in-out;
}

.categoryItem:hover h4 {
    color: var(--clr-black);
}